service: houmer-app

frameworkVersion: '2'

provider:
  name: aws
  runtime: python3.8
  stage: ${env:STAGE, 'dev'}
  region: ${env:REGION, 'us-east-2'}
  memorySize: 128
  lambdaHashingVersion: 20201221
  apiGateway:
    shouldStartNameWithService: true
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:DescribeTable
          Resource:
            - Fn::GetAtt: [houmerTable, Arn]
  environment:
    DYNAMODB_PORT: ${env:DYNAMODB_PORT}
    TABLE_HOUMER: ${self:service}-${opt:stage,'dev'}-houmer
    REGION: ${env:REGION}
    STAGE: ${env:STAGE}

custom:
  wsgi:
    app: src.app.app
  pythonRequirements:
    pythonBin: python3
    usePipenv: false

plugins:
  - serverless-python-requirements
  - serverless-wsgi
  - serverless-dynamodb-local
  - serverless-dotenv-plugin

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: 'ANY /{proxy+}'
resources:
  Resources:
    houmerTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:provider.environment.TABLE_HOUMER}
        AttributeDefinitions:
          - 
            AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
          
package:
  exclude:
    - "node_modules/**"
    - "*.md"
    - "docker/**"
    - "package-lock.json"
    - "docker-compose.yml"
  include:
    - "src/**"